/* Estilos para o formulário */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Estilos para cada grupo de formulário */
.form-group {
  margin-bottom: 15px;
}

/* Estilos para os rótulos */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para os campos de entrada */
.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para o botão de envio */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Estilos para o botão de envio quando desabilitado */
button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Estilos para o botão de envio no hover */
button[type="submit"]:hover {
  background-color: #0056b3;
}


$success-bg-color: #dff0d8;
$success-text-color: #3c763d;
$max-container-width: 600px;

.login-success {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $success-bg-color;
  color: $success-text-color;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: $max-container-width;

  .login-message {
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2em;
    }
  }

  // Estilos para telas menores
  @media screen and (max-width: $max-container-width) {
    padding: 10px;
    margin: 10px;

    .login-message {
      h2 {
        font-size: 1.2em;
      }

      p {
        font-size: 1em;
      }
    }
  }
}



.logout-button {
  padding: 10px 20px;
  background-color: #ff4c4c; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor em forma de ponteiro para indicar clicabilidade */
  transition: background-color 0.3s ease; /* Transição suave para efeito de hover */

  &:hover {
    background-color: #e64444; /* Cor de fundo no hover */
  }

  &:active {
    background-color: #d63333; /* Cor de fundo quando pressionado */
  }

  &:focus {
    outline: none; /* Remove o contorno quando focado (para navegadores que aplicam por padrão) */
  }

  &:disabled {
    background-color: #cccccc; /* Cor de fundo para estado desabilitado */
    cursor: not-allowed; /* Cursor para indicar que o botão está desabilitado */
  }
}
