<!-- <nav class="navbar" [ngClass]="{'active': navbarOpen}"> -->
<nav class="navbar">
  <div class="nav-brand">Minha Aplicação</div>
  <!-- <button class="nav-toggle" (click)="toggleNavbar()">☰</button> -->
  <ul class="nav-links">
    <li><a routerLink="/home">Listagem</a></li>
    <li *ngIf="tokenService.isLoggedIn(); else cadastroLink">

    </li>
    <ng-template #cadastroLink>
      <li>
        <a routerLink="/cadastro">Cadastre-se</a>
      </li>
    </ng-template>

    <li *ngIf="tokenService.isLoggedIn(); else loginLink">
      <a routerLink="/login">Logout</a>
    </li>

    <!-- Template alternativo para Login -->
    <ng-template #loginLink>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ng-template>
    <li><a routerLink="/cadastro-car">Cadastro de Carro</a></li>

  </ul>
</nav>
